/*Header*/
.langing-page-header {
  position: relative;
  width: 100%;
  background: linear-gradient(to right, #00bdce 6%, #0071d2);
  overflow: hidden;
}

.langing-page-header .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('../assets/wave.png');
  background-size: 100% 100px;
}

.landing-page-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  padding: 3px 0 0 15px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 12%;
  min-width: 60px;
  cursor: pointer;
}

/*Header-Nav*/
.menus {
  display: flex;
  align-items: center;
}

.menu-items {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  justify-items: center;
}

.menu-items li {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

.menu-items li:hover {
  color: white;
  opacity: 1;
}

.menu-items li a {
  text-decoration: none;
  color: inherit;
}

.language a {
  display: flex;
}

.language img {
  margin-right: 5px;
  width: 20px;
}

/*Header-Info*/

.title-and-brief-intro {
  margin-top: 20px;
  color: white;
  margin-bottom: 10em;
  text-align: center;
}

#logo-text {
  width: 50%;
  min-width: 350px;
}

.title-and-brief-intro h1 {
  font-size: 40px;
  line-height: 1.2em;
  margin-bottom: 5px;
  font-family: 'Kurale';
}

.title-and-brief-intro p {
  font-size: 22px;
  margin-top: 1em;
}

.donate-request-buttons {
  margin-top: 3em;
}

.donate-request-buttons button,
.video-and-article-section button {
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 2em;
  padding: 15px;
  margin-right: 15px;
  font-weight: 600;
  font-size: 20px;
}

.donate-request-buttons button:hover,
.video-and-article-section button:hover {
  color: rgb(2, 187, 204);
  background: white;
  cursor: pointer;
}
