@import 'header.css';
@import 'about.css';
@import 'our-service.css';
@import 'contact-us.css';
@import 'footer.css';

/*Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin sans', sans-serif;
}
