* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin sans", sans-serif;
}

.langing-page-header,
.our-services-section {
  position: relative;
  width: 100%;
  background: linear-gradient(to right, #00bdce 6%, #0071d2);
  overflow: hidden;
}

.langing-page-header .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../assets/wave.png);
  background-size: 1000px 100px;
}

.landing-page-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  padding: 3px 0 0 15px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 12%;
  min-width: 60px;
  cursor: pointer;
}

/*==============*/
.menus {
  display: flex;
  align-items: center;
}

.menu-items {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  justify-items: center;
}

.menu-items li {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

.menu-items li:hover {
  color: white;
  opacity: 1;
}

.menu-items li a {
  text-decoration: none;
  color: inherit;
}

.language a {
  display: flex;
}

.language img {
  margin-right: 5px;
  width: 20px;
}

/*===========================*/

.title-and-brief-intro {
  margin-top: 20px;
  color: white;
  margin-bottom: 10em;
  text-align: center;
}

#logo-text {
  width: 50%;
  min-width: 350px;
}

.title-and-brief-intro h1 {
  font-size: 40px;
  line-height: 1.2em;
  margin-bottom: 5px;
  font-family: "Kurale";
}

.title-and-brief-intro p {
  font-size: 22px;
  margin-top: 1em;
}

.donate-request-buttons {
  margin-top: 3em;
}

.donate-request-buttons button,
.video-and-article-section button {
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 2em;
  padding: 15px;
  margin-right: 15px;
  font-weight: 600;
  font-size: 20px;
}

.donate-request-buttons button:hover,
.video-and-article-section button:hover {
  color: rgb(2, 187, 204);
  background: white;
  cursor: pointer;
}

/*=================*/

.about-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.about-section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../assets/wave-grad.png);
  background-size: 100% 100px;
}

.about-title {
  margin-bottom: 3em;
}

.about-title h1,
.our-services-section h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Kurale";
}

.video-and-article-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 10em;
  grid-column-gap: 15px;
  padding: 10px;
}

.video-and-article-section iframe {
  border-radius: 10px;
  width: 100%;

  height: 100%;
}

.video-and-article-section article {
  font-size: 23px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(to right, #02bbcc 20%, #0380d0);
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px #6b6b6b;
}

.video-and-article-section article p {
  margin-bottom: 0.9em;
}

/*==========================*/
.our-services-title {
  color: white;
}

.our-services-description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  grid-column-gap: 15px;
  padding: 15px;
  margin-bottom: 3em;
}

.delivering-water,
.pure-water,
.cheap-service {
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px #6b6b6b;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
}

.delivering-water img,
.pure-water img,
.cheap-service img {
  width: 80px;
  height: 80px;
}

/*==================*/

.landing-page-footer {
  padding: 4% 10% 2% 10%;
  background: linear-gradient(to right, #00bdce 6%, #0071d2);
  color: white;
}

.rights {
  text-align: center;
  margin-top: 1em;
}

.contact-us-and-apps {
  display: flex;
  justify-content: center;
}

.contact-us {
  margin-right: 15px;
}

.contact-us-buttons,
.app-buttons {
  position: relative;
  width: 176px;
  height: 50px;
  padding: 0 10px;
  border-radius: 25px;
  overflow: hidden;
  border: 2px solid white;
}

.contact-us-text,
.app-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Kurale", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us-overlay,
.app-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: all 0.3s;
}

.contact-us-links,
.app-links {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.contact-us-link,
.app-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: linear-gradient(to right, #00bdce 6%, #0071d2);

  border-radius: 50%;
  cursor: pointer;
  transform: translateY(calc(100% * 2));
  margin: 10px 5px;
  transition: all 0.3s;
}

.contact-us-link img,
.app-link img {
  width: 60%;
  height: 60%;
}

.contact-us-buttons:hover,
.app-buttons:hover {
  border: none;
}
.contact-us-buttons:hover .contact-us-overlay,
.app-buttons:hover .app-overlay {
  background-color: white;
}

.contact-us-buttons:hover .contact-us-link,
.app-buttons:hover .app-link {
  transform: translateY(0);
}

.contact-us-link:nth-child(2) {
  transition-delay: 0.05s;
}

.contact-us-link:nth-child(3),
.app-link:nth-child(2) {
  transition-delay: 0.1s;
}

.contact-us-link:nth-child(4) {
  transition-delay: 0.15s;
}
